/* css reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: 0;
  outline: 0;  
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(146, 214, 146);
}
/* Designing the counter container */
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    flex-direction: column;
    gap: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px black;
}
/* Designing the buttons */
button{
    padding: 5px 15px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
#displayValue{
    font-size: 25px;
    padding: 5px 15px;
    border: 1px solid black;
}
